@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro-SemiExt";
  font-display: swap;
  src: url("../fonts/MyriadPro-SemiExt.woff") format("woff"), url("../fonts/MyriadPro-SemiExt.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "MyriadPro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "MyriadPro";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1546px;
  margin: 0 auto;
}

._container-little {
  max-width: 1410px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-slider .slick-slide {
  position: relative;
}

.slick-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 0 0;
}

.slick-slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slick-slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #282828;
}

.slick-slider .slick-dots li.slick-active button {
  background-color: #fff;
}

.header__bottom {
  -webkit-box-shadow: 0px 10px 13px -7px #999999, 0px 20px 20px -30px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 13px -7px #999999, 0px 20px 20px -30px rgba(0, 0, 0, 0.6);
}

.top-header {
  background-color: #00aa4b;
}

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
}

.top-header__column_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 77.5%;
          flex: 0 1 77.5%;
}

.top-header__column_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.menu__icon {
  position: relative;
}

.menu__icon::after {
  content: "";
  position: absolute;
  top: calc(-150% - 1px);
  left: calc(-70% - 1px);
  width: 73px;
  height: 73px;
  background-color: #fda11c;
  border-radius: 50%;
  z-index: -100;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu__link:hover {
  color: #e9e9e9;
}

.icon-menu {
  display: none;
}

.contacts-header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-header__item {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 0 0 0 20px;
}

.contacts-header__email {
  background: url(../img/icons/email.svg) top left no-repeat;
  background-size: contain;
  padding: 0 0 0 30px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.contacts-header__email:hover {
  color: #e9e9e9;
}

.contacts-header__phone {
  background: url(../img/icons/phone.svg) top left no-repeat;
  background-size: contain;
  padding: 0 0 0 20px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.contacts-header__phone:hover {
  color: #e9e9e9;
}

.middle-header {
  height: 64px;
  background-color: #e8e7e7;
}

.middle-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.middle-header__logo img {
  width: 40px;
  height: 40px;
}

.middle-header__text {
  padding: 0 0 0 10px;
}

.middle-header__title {
  font-size: 33px;
  text-align: left;
  color: #171717;
}

.middle-header__subtitle {
  font-family: MyriadPro-SemiExt;
  font-size: 18px;
  color: #777777;
}

.middle-header__search {
  position: relative;
  z-index: 1;
}

.middle-header__suppliers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
}

.middle-header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.middle-header__cart span {
  position: absolute;
  left: 0;
  font-size: 12px;
  font-weight: 700;
  color: #ff8c00;
  -webkit-transform: translate(10px, -10px);
      -ms-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}

.suppliers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.suppliers__link:hover .suppliers__image {
  background-color: #00aa4b;
}

.suppliers__image {
  border-radius: 50%;
  overflow: hidden;
}

.suppliers__text {
  font-family: MyriadPro-SemiExt;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.14;
  vertical-align: middle;
  color: #777777;
  padding: 0 0 0 5px;
}

.cart__link {
  width: 29px;
  height: 26px;
  display: block;
  background: url("../img/icons/cart-grey.svg") left no-repeat;
  position: relative;
  padding: 0 0 0 40px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.cart__link:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.cart__title {
  display: block;
  font-family: MyriadPro-SemiExt;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.14;
  color: #777777;
}

.cart__price {
  display: block;
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: #171717;
}

.search-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.search-page__select {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.search-page__select:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.search-page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #666666;
  font-weight: 300;
}

.search-page__title > span {
  padding: 0 10px;
}

.search-page__title::after {
  content: "";
  position: absolute;
  left: 70%;
  bottom: -20%;
  border: 6px solid transparent;
  border-top: 6px solid #393939;
}

.search-page__categories {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.search-page__input {
  border: 2px solid #f2f2f2;
  width: 770px;
}

.search-page__input .input {
  height: 100%;
}

.categories-search {
  border: 1px solid #f3f3f3;
  background-color: #fff;
  display: none;
}

.categories-search::after {
  content: '';
  background-color: #f68038;
  height: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.categories-search__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  border-right: 1px solid #f3f3f3;
  padding: 27px 40px;
}

.categories-search__column:last-child {
  border: 0;
}

.categories-search__list li {
  margin: 0 0 20px 0;
}

.categories-search__list li:last-child {
  margin: 0 0 0 0;
}

.categories-search .checkbox__input:checked + .checkbox__text {
  color: #f68038;
}

.categories-search__checkbox .checkbox__text {
  color: #999999;
}

.categories-search__checkbox .checkbox__text::before {
  display: none;
}

.btn {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/icons/search.svg) center center no-repeat;
  width: 49px;
  height: 35px;
  background-color: #ffaf2d;
  padding: 6px 14px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.btn:hover {
  background-color: #ff9d00;
}

.bottom-header__title {
  position: relative;
  padding: 29px 0 25px 0;
}

.bottom-header__title a {
  display: block;
  font-family: MyriadPro-SemiExt;
  font-size: 30px;
  font-weight: 300;
  line-height: 0.53;
  color: #000000;
}

.bottom-header__title::after {
  content: ">";
  position: absolute;
  top: -15%;
  right: 10px;
  font-size: 30px;
  font-weight: 300;
  line-height: 3.21;
  color: #777777;
}

.bottom-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -5px;
  padding: 11px 0;
}

.bottom-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.bottom-header__link:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.bottom-header__image {
  padding: 0 0 7px 0;
}

.footer {
  background-color: #313131;
}

.footer__top {
  padding: 93px 0 0 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-size: 24px;
  color: #777777;
  padding: 0 0 30px 0;
}

.footer__list {
  font-family: MyriadPro-SemiExt;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
  padding: 0 0 95px 0;
}

.footer__link {
  color: #ffffff;
}

.footer__link:hover {
  color: #e9e9e9;
}

.footer__tel {
  padding: 0 0 10px 0;
}

.footer__shedule {
  padding: 0 0 10px 0;
}

.footer__email {
  padding: 0 0 10px 0;
}

.footer__bottom {
  background-color: #191919;
  padding: 40px 0 30px 0;
}

.footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 40px;
  height: 40px;
  margin: 0 17px 10px 0;
}

.footer__name {
  font-size: 24px;
  color: #fff;
}

.footer__desc {
  font-family: MyriadPro-SemiExt;
  font-size: 15.5px;
  font-weight: 300;
  line-height: 1.16;
  letter-spacing: 0.16px;
  color: #787878;
}

.footer__developer {
  font-family: MyriadPro-SemiExt;
  color: #fff;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main {
  padding: 21px 0 0 0;
  background-color: #f1f1f1;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__offer {
  width: 20%;
  background-color: #ffffff;
}

.main__slider {
  width: 55%;
  margin: 0 20px;
  background-color: #232323;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main__sale {
  width: 20%;
  border-radius: 2px;
  border: solid 2px #ffaf2d;
  background-color: #ffffff;
}

.main__partners {
  margin: 20px 0;
  background-color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.offer__title {
  padding: 33px 38px 10px 28px;
  font-size: 24px;
  line-height: 1.88;
  text-align: left;
  color: #ffaf2d;
}

.offer__list > li {
  position: relative;
  border-bottom: 1px solid #bababa;
}

.offer__list > li:last-child {
  border-bottom: none;
}

.offer__list > li::after {
  content: ">";
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 3.21;
  color: #303030;
}

.offer__item {
  font-family: MyriadPro-SemiExt;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.81;
  letter-spacing: 0.3px;
  color: #303030;
  padding: 0 0 0 28px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.offer__item:hover {
  background-color: #e9e9e9;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__text {
  padding: 59px 68px 0 68px;
}

.slider__about {
  font-family: MyriadPro-SemiExt;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  text-align: left;
  color: #777777;
  padding: 0 0 73px 0;
}

.slider__title {
  max-width: 500px;
  font-size: 40px;
  line-height: 1.05;
  text-align: left;
  color: #f3f1f1;
  padding: 0 0 20px 0;
}

.slider__subtitle {
  font-family: MyriadPro-SemiExt;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.11;
  text-align: left;
  color: #f3f1f1;
  padding: 0 0 76px 0;
}

.slider__button {
  width: 129px;
  height: 35px;
  border-radius: 17.5px;
  background-color: #ffaf2d;
  font-size: 18px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.slider__button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.slider__image {
  padding: 59px 0 0 0;
}

.sale__image {
  padding: 219px 0 10px 28px;
}

.sale__text {
  padding: 0 0 0 28px;
}

.sale__subtitle {
  font-family: MyriadPro-SemiExt;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  line-height: 1.67;
  color: #121212;
}

.sale__title {
  font-size: 40px;
  color: #121212;
  padding: 0 0 30px 0;
}

.sale__link {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  text-align: left;
  color: #ffaf2d;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.sale__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.sale__link::after {
  content: ">";
  position: absolute;
  top: -78%;
  right: -15%;
  font-size: 18px;
  font-weight: 300;
  line-height: 3.21;
  text-align: left;
  color: #ffaf2d;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partners__item {
  width: 220px;
  height: 101px;
  text-align: center;
  line-height: 101px;
  position: relative;
  font-size: 18px;
  color: #232323;
  padding: 0 0 0 20px;
}

.partners__item::after {
  content: "";
  background: #e8e7e7;
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 70%;
  width: 1.5px;
  top: 15%;
}

.partners__item:first-child::after {
  display: none;
}

.partners__item a {
  color: #000;
}

.partners__item img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.partners__item img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.news {
  padding: 164px 0 0 0;
  background-color: #f1f1f1;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__column_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 0 105px 0 0;
}

.news__title {
  font-size: 40px;
  font-weight: 300;
  color: #121212;
  padding: 0 0 49px 0;
}

.news__card {
  min-height: 33.3%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.news__card_little {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__image {
  padding: 0 0 28px 0;
}

.card__image_little {
  padding: 0 20px 20px 0;
}

.card__content {
  padding: 0 0 64px 0;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 20px 0;
}

.card__title {
  font-family: MyriadPro-SemiExt;
  font-size: 24px;
  font-weight: 300;
  padding: 0 0 20px 0;
}

.card__button {
  padding: 12px 40px;
  border-radius: 17.5px;
  background-color: #ffaf2d;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.card__button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.info__text {
  color: #00aa4b;
}

.info__date {
  color: #777777;
}

.recommendation {
  padding: 185px 0 0 0;
  background-color: #f1f1f1;
}

.recommendation__title {
  text-align: center;
  font-family: MyriadPro-SemiExt;
  font-size: 40px;
  padding: 0 0 25px 0;
}

.recommendation__subtitle {
  width: 658px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  color: #787878;
  padding: 0 0 65px 0;
}

.recommendation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommendation__column_left {
  background-color: #fff;
  margin: 0 10px 0 0;
}

.recommendation__column_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

._no-webp .content__recommendation_left {
  background: url("../img/recommendation/01.png") top center no-repeat; }

.content__recommendation_left {
  width: 595px;
  height: 745px;
}

._no-webp .content__recommendation_up {
  background: url("../img/recommendation/02.png") top left no-repeat; }

.content__recommendation_up {
  width: 784px;
  height: 420px;
  margin: 0 0 10px 0;
}

._no-webp .content__recommendation_down {
  background: url("../img/recommendation/03.png") top left no-repeat; }

.content__recommendation_down {
  width: 784px;
  height: 316px;
}

.content__title {
  font-family: MyriadPro-SemiExt;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.content__title_1 {
  text-align: center;
  color: #121212;
  padding: 69px 0 15px 0;
}

.content__title_2 {
  text-align: left;
  color: #fff;
  padding: 120px 140px 15px 250px;
}

.content__title_3 {
  text-align: left;
  color: #000000;
  padding: 95px 340px 15px 65px;
}

.content__subtitle {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #121212;
}

.content__subtitle_1 {
  width: 284px;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 27px 0;
}

.content__subtitle_2 {
  width: 192px;
  text-align: left;
  color: #fff;
  padding: 0 140px 27px 250px;
}

.content__subtitle_3 {
  text-align: left;
  padding: 0 340px 27px 65px;
}

.content__text {
  font-family: MyriadPro-SemiExt;
  font-size: 16px;
  font-weight: 300;
  color: #777777;
}

.content__text_1 {
  width: 284px;
  text-align: center;
  margin: 0 auto;
}

.content__text_2 {
  text-align: left;
  padding: 0 140px 0 250px;
}

.content__text_3 {
  text-align: left;
  padding: 0 340px 0 65px;
}

.about {
  padding: 171px 0 172px 0;
  background-color: #f1f1f1;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__column_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.about__column_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding: 0 0 0 256px;
}

.about__title {
  font-size: 40px;
  line-height: 1.25;
  padding: 0 0 15px 0;
}

.about__text {
  font-family: MyriadPro-SemiExt;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: #121212;
  padding: 0 0 20px 0;
}

.about__subtitle {
  font-family: MyriadPro-SemiExt;
  font-size: 40px;
  color: #121212;
  padding: 0 0 15px 0;
}

.about__logo {
  width: 151px;
  height: 151px;
  margin: 52px 0 20px 0;
}

.about__name {
  font-size: 40px;
}

.about__desc {
  color: #777777;
  padding: 0 0 20px 0;
}

.about__info {
  font-size: 24px;
}

.about__button {
  font-family: MyriadPro-SemiExt;
  font-size: 24px;
  line-height: 0.8;
  color: rgba(255, 255, 255, 0.8);
  background-color: #232323;
  border-radius: 50%;
  padding: 18px 19px 18px 17px;
  margin: 20px 0 0 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.about__button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 769px) {
  .middle-header__subtitle {
    display: none;
  }

  .bottom-header__title {
    display: none;
  }

  .footer__title a {
    pointer-events: none;
    cursor: default;
    color: #888;
  }

  .footer__title:last-child {
    display: none;
  }
}

@media (min-width: 992px) {
  .categories-search__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1600px) {
  ._container {
    max-width: 1300px;
    margin: 0 auto;
  }

  ._container-little {
    max-width: 1200px;
    margin: 0 auto;
  }

  .contacts-header__item {
    font-size: 14px;
    padding: 0 0 0 10px;
  }

  .search-page__input {
    width: 600px;
  }

  .categories-search__column {
    padding: 27px 20px;
  }

  .partners__item {
    width: 200px;
    padding: 0px 10px 0 10px;
    font-size: 16px;
  }

  .partners__item img {
    max-width: 90%;
  }

  .news__column_big {
    padding: 0 70px 0 0;
  }

  .card__content {
    padding: 0 0 40px 0;
  }

  .content__recommendation_left {
    width: 500px;
  }

  .content__recommendation_up {
    width: 750px;
  }

  .content__recommendation_down {
    width: 750px;
  }
}

@media (max-width: 1440px) {
  ._container {
    max-width: 1200px;
    margin: 0 auto;
  }

  ._container-little {
    max-width: 1100px;
    margin: 0 auto;
  }

  .slick-slider .slick-dots {
    padding: 10px 0 0 0;
  }

  .menu__link {
    font-size: 14px;
  }

  .middle-header__title {
    font-size: 25px;
  }

  .categories-search__row {
    padding: 20px;
  }

  .categories-search__column {
    padding: 0 20px;
    margin: 0 0 20px 0;
  }

  .categories-search__column:last-child {
    margin: 0 0 0 0;
  }

  .bottom-header__link {
    font-size: 14px;
  }

  .bottom-header__image img {
    width: 80%;
  }

  .footer__top {
    padding: 70px 0 0 0;
  }

  .footer__title {
    font-size: 20px;
  }

  .footer__list {
    padding: 0 0 70px 0;
    font-size: 14px;
  }

  .offer__title {
    font-size: 16px;
  }

  .offer__list > li::after {
    top: -7%;
  }

  .offer__item {
    font-size: 14px;
  }

  .slider__text {
    font-size: 14px;
  }

  .slider__about {
    font-size: 14px;
  }

  .slider__title {
    font-size: 26px;
  }

  .slider__title {
    font-size: 18px;
  }

  .slider__subtitle {
    font-size: 16px;
  }

  .slider__subtitle {
    font-size: 14px;
    padding: 0 0 50px 0;
  }

  .slider__button {
    width: 100px;
    font-size: 14px;
  }

  .slider__image {
    max-width: 90%;
  }

  .sale__image {
    padding: 219px 0 10px 28px;
  }

  .sale__subtitle {
    font-size: 14px;
  }

  .sale__title {
    font-size: 26px;
    padding: 0 0 20px 0;
  }

  .sale__link {
    font-size: 14px;
  }

  .sale__link::after {
    font-size: 14px;
  }

  .partners__item {
    width: 200px;
    padding: 0px 20px 0 20px;
    font-size: 16px;
  }

  .partners__item img {
    max-width: 80%;
  }

  .news {
    padding: 140px 0 0 0;
  }

  .news__column_big {
    padding: 0 50px 0 0;
  }

  .news__title {
    font-size: 36px;
  }

  .card__content {
    padding: 0 0 30px 0;
  }

  .card__title {
    font-size: 20px;
  }

  .recommendation {
    padding: 160px 0 0 0;
  }

  .recommendation__title {
    font-size: 36px;
  }

  .recommendation__subtitle {
    padding: 0 0 50px 0;
  }

  ._no-webp .content__recommendation_left {
    background: url("../img/recommendation/01.png") bottom center/auto 95% no-repeat; }

  .content__recommendation_left {
    width: 450px;
    height: 640px;
  }

  ._no-webp .content__recommendation_up {
    background: url("../img/recommendation/02.png") top left no-repeat; }

  .content__recommendation_up {
    width: 640px;
    height: 330px;
  }

  ._no-webp .content__recommendation_down {
    background: url("../img/recommendation/03.png") top left no-repeat; }

  .content__recommendation_down {
    width: 640px;
    height: 300px;
  }

  .content__title {
    font-size: 18px;
  }

  .content__title_2 {
    padding: 80px 60px 15px 250px;
  }

  .content__title_3 {
    padding: 80px 340px 15px 65px;
  }

  .content__title_3 {
    padding: 60px 340px 15px 65px;
  }

  .content__subtitle {
    font-size: 26px;
  }

  .about {
    padding: 140px 0 140px 0;
  }

  .about__title {
    font-size: 36px;
  }

  .about__text {
    font-size: 16px;
  }

  .about__subtitle {
    font-size: 36px;
  }

  .about__name {
    font-size: 36px;
  }

  .about__info {
    font-size: 20px;
  }

  .about__button {
    font-size: 20px;
    padding: 14px 15px 14px 13px;
  }
}

@media (max-width: 1024px) {
  ._container {
    max-width: 1000px;
    margin: 0 auto;
  }

  ._container-little {
    max-width: 900px;
    margin: 0 auto;
  }

  .menu__link {
    font-size: 12px;
  }

  .contacts-header__item {
    font-size: 12px;
    padding: 0 0 0 5px;
  }

  .suppliers__text {
    font-size: 12px;
  }

  .cart__title {
    font-size: 12px;
  }

  .cart__price {
    font-size: 14px;
  }

  .search-page__input {
    width: 400px;
  }

  .bottom-header__link {
    font-size: 12px;
  }

  .footer__top {
    padding: 50px 0 0 0;
  }

  .footer__top {
    padding: 30px 0;
  }

  .footer__title {
    font-size: 16px;
  }

  .footer__list {
    padding: 0 0 50px 0;
    font-size: 12px;
  }

  .footer__logo {
    margin: 0 17px 5px 0;
  }

  .offer__title {
    font-size: 14px;
    padding: 30px 0 10px 25px;
  }

  .offer__list > li::after {
    font-size: 12px;
    top: -9%;
  }

  .offer__item {
    font-size: 12px;
    padding: 0 0 0 25px;
  }

  .slider__text {
    font-size: 12px;
    padding: 30px 50px 0 50px;
  }

  .slider__about {
    font-size: 12px;
    padding: 0 0 60px 0;
  }

  .slider__image {
    max-width: 70%;
  }

  .sale__image {
    padding: 160px 0 10px 28px;
  }

  .partners__item {
    width: 160px;
    padding: 0 10px 0 10px;
    font-size: 14px;
  }

  .partners__item img {
    max-width: 70%;
  }

  .news {
    padding: 120px 0 0 0;
  }

  .news__column_big {
    padding: 0 30px 0 0;
  }

  .news__title {
    font-size: 26px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__text {
    font-size: 14px;
  }

  .card__text_little {
    display: none;
  }

  .recommendation {
    padding: 140px 0 0 0;
  }

  .recommendation__title {
    font-size: 26px;
  }

  ._no-webp .content__recommendation_left {
    background: url("../img/recommendation/01.png") bottom left/auto 80% no-repeat; }

  .content__recommendation_left {
    width: 330px;
    height: 510px;
  }

  ._no-webp .content__recommendation_up {
    background: url("../img/recommendation/02.png") top left no-repeat; }

  .content__recommendation_up {
    width: 560px;
    height: 250px;
  }

  ._no-webp .content__recommendation_down {
    background: url("../img/recommendation/03.png") top left -150px no-repeat; }

  .content__recommendation_down {
    width: 560px;
    height: 250px;
  }

  .content__title_1 {
    padding: 60px 0 15px 0;
  }

  .content__title_2 {
    padding: 60px 100px 15px 200px;
  }

  .content__title_2 {
    padding: 60px 100px 30px 306px;
  }

  .content__subtitle {
    font-size: 20px;
  }

  .content__subtitle_2 {
    padding: 0 100px 27px 200px;
  }

  .content__subtitle_2 {
    padding: 0 100px 50px 306px;
  }

  .content__text {
    font-size: 14px;
  }

  .content__text_2 {
    padding: 0 100px 0 200px;
  }

  .content__text_2 {
    padding: 0 40px 61px 306px;
  }

  .content__text_3 {
    padding: 0 240px 0 65px;
  }

  .about {
    padding: 120px 0 120px 0;
  }

  .about__title {
    font-size: 26px;
  }

  .about__title {
    font-size: 40px;
    padding: 125px 0 15px 0;
  }

  .about__text {
    font-size: 14px;
  }

  .about__subtitle {
    font-size: 26px;
  }

  .about__logo {
    width: 250px;
    height: 250px;
    margin: 52px 0 60px 0;
  }

  .about__name {
    font-size: 26px;
  }

  .about__desc {
    font-size: 14px;
  }

  .about__info {
    font-size: 18px;
  }

  .about__button {
    font-size: 16px;
  }
}

@media (max-width: 769px) {
  ._container {
    max-width: 700px;
    margin: 0 auto;
  }

  ._container-little {
    max-width: 700px;
    margin: 0 auto;
  }

  .slick-slider .slick-dots {
    padding: 10px 0 45px 0;
  }

  .slick-slider .slick-dots li button {
    width: 15px;
    height: 16px;
  }

  .header__bottom {
    background-color: #f1f1f1;
    border-top: 1px solid #bababa;
  }

  .top-header {
    background-color: #f1f1f1;
  }

  .top-header__content {
    height: 101px;
  }

  .top-header__column {
    width: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .top-header__menu {
    width: 50px;
  }

  .menu__body {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
    padding: 120px 20px 30px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #f1f1f1;
  }

  .menu__body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 101px;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #f1f1f1;
  }

  .menu__body._active {
    opacity: 1;
    z-index: 4;
    visibility: visible;
  }

  .menu__body.lock {
    overflow: hidden;
  }

  .menu__list {
    display: block;
    text-align: center;
  }

  .menu__list li {
    padding: 15px 0;
    border-top: .5px solid #bababa;
  }

  .menu__link {
    font-size: 20px;
    color: #000;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: -2px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: -2px;
  }

  .icon-menu._active {
    z-index: 10;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .contacts-header__item {
    padding: 0px;
  }

  .contacts-header__email {
    display: none;
  }

  ._no-webp .contacts-header__phone {
    background: url(../img/icons/phone-mobile.png) left no-repeat; }

  .contacts-header__phone {
    display: inline-block;
    width: 45px;
    height: 58px;
    font-size: 0px;
    vertical-align: middle;
  }

  .middle-header {
    display: none;
  }

  .middle-header__logo img {
    width: 55px;
    height: 55px;
  }

  .middle-header__suppliers {
    display: none;
  }

  .middle-header__cart span {
    font-size: 26px;
    font-weight: 300;
    -webkit-transform: translate(25px, -20px);
        -ms-transform: translate(25px, -20px);
            transform: translate(25px, -20px);
  }

  ._no-webp .cart__link {
    background: url("../img/icons/cart-mobile.png") no-repeat; }

  .cart__link {
    display: inline-block;
    width: 58px;
    height: 49px;
    margin: 0 10px 0 0;
  }

  .cart__title {
    display: none;
  }

  .cart__price {
    display: none;
  }

  .search-page__select {
    display: none;
  }

  .search-page__input {
    display: none;
  }

  ._no-webp .btn {
    background: url(../img/icons/search-mobile.png) left no-repeat; }

  .btn {
    display: inline-block;
    width: 51px;
    height: 57px;
  }

  .bottom-header__list {
    display: none;
  }

  .footer__row {
    display: block;
  }

  .footer__title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    font-size: 30px;
    color: #ffffff;
    padding: 20px 0;
    position: relative;
  }

  .footer__title::after {
    content: "+";
    position: absolute;
    top: 25%;
    right: 1%;
  }

  .footer__title:last-child {
    border-bottom: none;
  }

  .footer__list {
    display: none;
  }

  .footer__link {
    display: block;
  }

  .footer__logo {
    width: 88px;
    height: 88px;
    margin: 0 17px 30px 0;
  }

  .footer__name {
    font-size: 50px;
  }

  .footer__desc {
    padding: 0 0 20px 0;
    font-size: 30px;
  }

  .footer__developer {
    font-size: 40px;
  }

  .main {
    padding: 0 0 0 0;
  }

  .main__row {
    display: block;
  }

  .main__offer {
    display: none;
  }

  .main__slider {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }

  .main__sale {
    width: 100%;
    margin: 30px 0 0 0;
  }

  .slider__text {
    padding: 75px 20px 0 30px;
  }

  .slider__about {
    font-size: 20px;
  }

  .slider__title {
    font-size: 40px;
  }

  .slider__subtitle {
    font-size: 24px;
  }

  .slider__button {
    width: 213px;
    height: 53px;
    font-size: 30px;
    border-radius: 26.5px;
  }

  .slider__image {
    max-width: 100%;
    padding: 75px 0 0 0;
  }

  .sale__image {
    padding: 80px 0 25px 61px;
  }

  .sale__image img {
    width: 15%;
  }

  .sale__text {
    padding: 0 0 68px 61px;
  }

  .sale__subtitle {
    font-size: 18px;
    padding: 0 0 10px 0;
  }

  .sale__title {
    font-size: 40px;
  }

  .sale__link {
    font-size: 24px;
  }

  .sale__link::after {
    font-size: 22px;
  }

  .partners__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .partners__item {
    width: 50%;
    padding: 0 10px 0 10px;
    border-bottom: 2px solid #e8e7e7;
    font-size: 24px;
  }

  .partners__item:nth-child(odd)::after {
    display: none;
  }

  .partners__item img {
    max-width: 100%;
  }

  .news {
    display: none;
  }

  .recommendation__title {
    font-size: 50px;
  }

  .recommendation__subtitle {
    font-size: 30px;
  }

  .recommendation__row {
    display: block;
  }

  .recommendation__column_left {
    margin: 0 0 0 0;
  }

  ._no-webp .content__recommendation_left {
    background: url("../img/recommendation/01.png") top right -20%/auto 100% no-repeat; }

  .content__recommendation_left {
    width: 100%;
    min-height: 480px;
    margin: 0 0 10px 0;
  }

  ._no-webp .content__recommendation_up {
    background: #242424 url("../img/recommendation/02.png") top 50% left no-repeat; }

  .content__recommendation_up {
    width: 100%;
    min-height: 480px;
    margin: 0 0 10px 0;
  }

  ._no-webp .content__recommendation_down {
    background: #fff url("../img/recommendation/03.png") top 50% left no-repeat; }

  .content__recommendation_down {
    width: 100%;
    height: 100%;
  }

  .content__title {
    font-size: 30px;
  }

  .content__title_1 {
    text-align: left;
    padding: 60px 0 15px 68px;
  }

  .content__subtitle {
    font-size: 40px;
  }

  .content__subtitle_1 {
    margin: 0 0;
    padding: 0 0 27px 68px;
  }

  .content__text {
    font-size: 25px;
  }

  .content__text_1 {
    width: 400px;
    text-align: left;
    margin: 0 0;
    padding: 0 0 83px 68px;
  }

  .content__text_3 {
    padding: 0 240px 120px 65px;
  }

  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__column_left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .about__column_right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 0 0 60px;
  }

  .about__text {
    font-size: 25px;
  }

  .about__name {
    font-size: 40px;
  }

  .about__desc {
    font-size: 25px;
  }

  .about__info {
    font-size: 25px;
  }

  .about__button {
    font-size: 50px;
    padding: 22px 25px;
  }
}

@media (max-width: 769px) and (max-width: 479.98px) {
  .menu__body {
    padding: 90px 20px 30px 20px;
  }

  .menu__body::before {
    height: 70px;
  }
}

@media (max-width: 479.98px) {
  .cart__link {
    margin: 0 20px 0 0;
  }
}

._webp .content__recommendation_left { background: url(../img/recommendation/01.webp) top center no-repeat; }

._webp .content__recommendation_up { background: url(../img/recommendation/02.webp) top left no-repeat; }

._webp .content__recommendation_down { background: url(../img/recommendation/03.webp) top left no-repeat; }

@media (max-width: 1440px) {

  ._webp .content__recommendation_left { background: url(../img/recommendation/01.webp) bottom center/auto 95% no-repeat; }
}

@media (max-width: 1440px) {

  ._webp .content__recommendation_up { background: url(../img/recommendation/02.webp) top left no-repeat; }
}

@media (max-width: 1440px) {

  ._webp .content__recommendation_down { background: url(../img/recommendation/03.webp) top left no-repeat; }
}

@media (max-width: 1024px) {

  ._webp .content__recommendation_left { background: url(../img/recommendation/01.webp) bottom left/auto 80% no-repeat; }
}

@media (max-width: 1024px) {

  ._webp .content__recommendation_up { background: url(../img/recommendation/02.webp) top left no-repeat; }
}

@media (max-width: 1024px) {

  ._webp .content__recommendation_down { background: url(../img/recommendation/03.webp) top left -150px no-repeat; }
}

@media (max-width: 769px) {

  ._webp .contacts-header__phone { background: url(../img/icons/phone-mobile.webp) left no-repeat; }
}

@media (max-width: 769px) {

  ._webp .cart__link { background: url(../img/icons/cart-mobile.webp) no-repeat; }
}

@media (max-width: 769px) {

  ._webp .btn { background: url(../img/icons/search-mobile.webp) left no-repeat; }
}

@media (max-width: 769px) {

  ._webp .content__recommendation_left { background: url(../img/recommendation/01.webp) top right -20%/auto 100% no-repeat; }
}

@media (max-width: 769px) {

  ._webp .content__recommendation_up { background: #242424 url(../img/recommendation/02.webp) top 50% left no-repeat; }
}

@media (max-width: 769px) {

  ._webp .content__recommendation_down { background: #fff url(../img/recommendation/03.webp) top 50% left no-repeat; }
}